@import "../abstracts/variables";

html, body {
  height: 700px;
}

body {
  display:flex;
  flex-direction:column;
  position: relative;

  width: 576px;
  margin: auto;
}

.background {
  background-image: $purple-gradient;
  padding: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 2px;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 320px;
  
  @media #{$media-tablet} {
    margin: 0 auto;
  }
}