@import "../abstracts/variables";
.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.b-card {
  font-size: 16px;
  border-radius: 8px;
  background: $purple-gradient;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 40px;
  gap: 10px;
  padding-bottom: 0;
  margin-bottom: 2px;

  img {
    margin: -10px auto 0;
  }
}